.chat-body img {
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.with-padding {
  padding: 1em;margin: 2% 0;
}

#chatbot {
  position: fixed;
  bottom: .5em;
  right: 1.5em;
  width: 300px;
  border: 1px solid #efefef;
  border-radius: 4px;
  color: #333;
  z-index: 4;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

.chat-header {
  border-bottom: 1px solid #efefef;
}
.chat-online-status {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border: 1px solid #333;
  border-radius: 1em;
  background-color: #4d4;
}
.chat-botname {
  padding: 0 0 0 10px;
  position: relative;
  top: 1.33px;
}

.chat-message-container {
  position: relative;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 4px;
  max-width: 80%;
  display: inline-block;
  margin: 0 0 2% 0;
}
.chat-message-container:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: #eee;
  border-left: 0;
  border-bottom: 0;
  left: -8px;
  bottom: 0;
}

.chat-message-sender {
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.chat-messagebox {
  border-top: 1px solid #efefef;
}

#close {
  display: inline;
  margin: 0 5px;
  cursor: pointer;
  float: right;
  color: #d7d7d7;
}

.btn.change-profile-picture {
    width: auto;
    margin-bottom: 10px;
    margin: 15px auto 0px;
    display: block;
}

/*Dot animation */
div#wave {
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
.dot {
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:50%;
	margin-right:3px;
	background:#303131;
	animation: wave 1.3s linear infinite;
}
.dot:nth-child(2) {
	animation-delay: -1.1s;
}
.dot:nth-child(3) {
	animation-delay: -0.9s;
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}

/* Experiment CSS Animations */
.element-animation{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,0px)  ;
  }
  15% {
    opacity:0.15067676350148818;
    transform:  translate(0px,-25px)  ;
  }
  30% {
    opacity:0.3047407407407407;
    transform:  translate(0px,0px)  ;
  }
  45% {
    opacity:0.450074074074074;
    transform:  translate(0px,-15px)  ;
  }
  60% {
    opacity:0.5994074074074074;
    transform:  translate(0px,0px)  ;
  }
  75% {
    opacity:0.7499511048954047;
    transform:  translate(0px,-5px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    opacity:0.15067676350148818;
    -moz-transform:  translate(0px,-25px)  ;
  }
  30% {
    opacity:0.3047407407407407;
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    opacity:0.450074074074074;
    -moz-transform:  translate(0px,-15px)  ;
  }
  60% {
    opacity:0.5994074074074074;
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    opacity:0.7499511048954047;
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    opacity:0.15067676350148818;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  30% {
    opacity:0.3047407407407407;
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    opacity:0.450074074074074;
    -webkit-transform:  translate(0px,-15px)  ;
  }
  60% {
    opacity:0.5994074074074074;
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    opacity:0.7499511048954047;
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,0px)  ;
  }
  15% {
    opacity:0.15067676350148818;
    -o-transform:  translate(0px,-25px)  ;
  }
  30% {
    opacity:0.3047407407407407;
    -o-transform:  translate(0px,0px)  ;
  }
  45% {
    opacity:0.450074074074074;
    -o-transform:  translate(0px,-15px)  ;
  }
  60% {
    opacity:0.5994074074074074;
    -o-transform:  translate(0px,0px)  ;
  }
  75% {
    opacity:0.7499511048954047;
    -o-transform:  translate(0px,-5px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,0px)  ;
  }
  15% {
    opacity:0.15067676350148818;
    -ms-transform:  translate(0px,-25px)  ;
  }
  30% {
    opacity:0.3047407407407407;
    -ms-transform:  translate(0px,0px)  ;
  }
  45% {
    opacity:0.450074074074074;
    -ms-transform:  translate(0px,-15px);
  }
  60% {
    opacity:0.5994074074074074;
    -ms-transform:  translate(0px,0px)  ;
  }
  75% {
    opacity:0.7499511048954047;
    -ms-transform:  translate(0px,-5px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

/* Chat box message animation */
.element-animation1{
  animation: animationFrames2 ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames2 ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames2 ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames2 ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames2 ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames2{
  0% {
    opacity:0;
    transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames2{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames2 {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames2 {
  0% {
    opacity:0;
    -o-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames2 {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
