#cf-context {
  height: 300px;
}

#cf-context input[type="number"] {
  width: 100%;
  text-align: left;
}

cf-chat-response.robot.peak-thumb > thumb {
  height: 60px;
  width: 60px;
}

cf-chat-response.show text[value-added] {
  will-change: auto;
  padding-left: 40px;
}

#register-bot-container {
	/*text-align: center;*/
	margin-left: 15px;
    background: #98c04d;
	color: #fff;
	font-size: 1.1em;
	padding: 1%;
	margin: 1% 1% 0 1%;
}


#register-bot-container img {
  margin: 0 1% 0 0;
  width: 70px;
  border-radius: 50%;
}

b#or {
  font-size: 1.33em;
}

button#register-bot-button {
    margin: 0 0 1% 0;
}

p.show {
	border: 1px solid #d7d7d7;
	color: #333;
    font-size: 1.1em;
}
}
